html {
    margin: 0 !important;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {
    margin: 0;
}

.phone {
    display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    color: black !important;
    text-decoration: none !important;
    font-weight: 550 !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    top: 60px;
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    width: 200px !important;
    box-shadow: 10px rgba(0,0,0,0.2);
    z-index: 100 !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black !important;
    padding: 15px 0px;
    text-decoration: none;
    font-size: medium !important;
    display: block;
    width: 200px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #ddd;
    width: 200px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.small, .medium, .screensmall {
    display: none;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 3;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
    background: white !important;
    color: gold;
    padding: 16.5px 15px;
    border: none !important;
}

.openbtn:hover {
    background-color: #444;
}

.subMenu {
    margin-left: 15px;
}

.subMenu a {
    font-size: 20px !important;
}

.noHover:hover {
    color: #818181 !important;
}

h1 {
    font-family: "Cambria";
    margin-left: 70px;
}

h2 {
    font-family: "Cambria";
    margin-left: 50px;
    padding-top: 25px;
}

p {
    font-size: 18px;
    font-family: "Calibra", sans-serif;
    text-align: justify;
}

ul, .small, .medium {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0 20px 0 0;
    background-color: #E9E1E1;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

ul img:hover {
   opacity: 0.9;
}
  
li {
    float: right;
    height: 60px;
    padding-right: 10px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 550;
}
  
li a:hover {
    background-color: #C0C0C0;
}

#logo {
    width: 80px; 
    height: 60px;
    background-color: #000000;
}

.menu {
    padding: 20px;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-size: large;
}

.container{
    margin: 100px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    margin: 40px 0px;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .message-box{
    height: 10px !important;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="submit"] {
    background: #ff6d00 !important;
    border-bottom: 7px solid goldenrod !important;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    margin: 20px 2px;
    border: none;
}

.contact     {
    margin-top: 120px !important;
    margin: 0;
    padding: 0;
    height: 350px;
}

.contact img{
    height: 80%;
    margin-left: 5%;
}

.contact button, .about button {
    background: #ff6d00 !important;
    border-bottom: 7px solid goldenrod !important;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    margin: 20px 2px;
    border: none;
}

.contact button:hover, .about button:hover {
    background-color: #ff6f00c5 !important;
    border-bottom: 7px solid rgba(218, 165, 32, 0.701) !important;
}

.contact button a, .about button a {
    text-decoration: none;
    color: white;
}

.about {
    margin-top: 60px !important;
    margin: 0;
    padding: 0;
    height: 350px;
}
.about img {
    height: 100%;
    margin-left: 10%;
}

/* Create two equal columns that floats next to each other */
.contact .left {
    margin: 0px 0px 0 10%;
    float: left;
    width: 40%;
    height: 300px; /* Should be removed. Only for demonstration */
}

.contact .right {
    float: right;
    width: 40%;
    padding: 10px;
    height: 280px;
    margin-right: 40px;
}
 

/* Create two equal columns that floats next to each other */
.about .left {
    margin: 0px 60px 0 10%;
    float: left;
    width: 30%;
    height: 300px; /* Should be removed. Only for demonstration */
}
.about .right {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px;
    margin-top: -15px;
}

.left {
    margin: 0px 30px 0 8%;
    float: left;
    width: 35%;
    height: 230px; /* Should be removed. Only for demonstration */
}

.right {
    float: left;
    width: 45%;
    padding: 10px;
    height: 230px;
    margin-top: 30px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.moreBtn {
    position: relative;
    text-align: center;
    color: white;
    
}

.moreBtn img {
    opacity: 0.3;
}

.moreBtn img:hover {
    opacity: 0.1;
}

.moreBtn p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.ex {
    padding: 0 auto;
    float: left;
    width: 28%;
    margin: 10px -2% 35px 5%;
}

.height-600 {
    height: 600px;
    margin-left: 50px;
}

.left iframe{
    margin-top: 50px;
    margin-left: -30px;
    width: 100%;
    height: 200px;
    background-color: #000000;
}

.ex iframe {
    width: 100%;
    height: 200px;
    background-color: #000000;
}

footer {
    background-color: #000000;
    color: white;
    height: 150px;
}

.social {
    text-align:center;
    padding-bottom:25px;
}

.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1.5px solid white;
    margin: 40px 12px 0 12px;
    color:white;
}

.mail {
    background-color: #FF9800; 
}

.ws {
    background-color: #25D366; 
}

.fb {
    background-color: #3B5998; 
}

.ig{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.yt {
    background-color: #FF0000; 
}

.copyright {
    text-align:center;
    font-size:13px;
    color:#aaa;
}

@media only screen and (max-width: 768px) {
    
    body {
    margin-left: 3%;
    overflow-x: hidden;
    }

    .large {
        display: none;
    }

    .medium {
        display: inline;
        margin-left: -3%;
    }

    .screensmall {
        display: inline;
        width: 80%;
    }

    .screensmall p {
        width: 80%;
    }

    h1,
    h2,
    .left,
    .new,
    .height-180 {
        margin-left: 0 !important;
    }

    .row {
        height: 500px;
    }

    .sell {
        height: 1500px;
    }

    .contact .right {
        float: left;
        height: 210px;
    }

    .about .left {
        width: 20%;
        height: 220px;
        margin-top: 30px;
    }

    .about .right {
        width: 45%;
        margin-left: 60px;
        height: 300px;
    }

    .about button {
        margin-top: -5px;
    }

    .height-600 {
        height: 1300px;
    }

    .ex {
        margin-top: 20px;
        width: 80%;
        margin-left: 0;
    }
    
    iframe {
        height: 200px;
        background-color: #000000;
    }

    footer {
        margin-left: -25px;
    }
}

@media only screen and (max-width: 446px) {
    .small {
        display: inline;
    }
    
    body {
        width: 100%;
        overflow-x: hidden;
    }

    h1{
        font-size: medium;
    }

    p{
        font-size: small;
    }

    .com {
        display: none;
    }
    
    .phone {
        display: inline;
    }

    .contact h1{
        padding-top: 80px;
    }

    .contact img{
        width: 80%;
    }
    
    .about img{
        width: 70%;
    }

    .contact p, .about p {
        width: 80%;
        padding-left: 5% !important;
    }

    .height-600 {
        height: 1050px;
        margin-left: 10%;
    }

    button {
        margin-left: 3% !important;
    }

    iframe{
        height: 150px !important;
    }

    img {
        height: 150px;
    }

    footer {
        height: 100px;
        margin-left: -9%;
    }

    .social>a {
        font-size: 14px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1.5px solid white;
        margin: 20px 2px 0 2px;
    }

    .copyright {
        font-size: 10px;
        margin-top: 0px;
    }
}