html {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    margin: 0 0px 0 0px !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    color: black !important;
    text-decoration: none !important;
    font-weight: 550 !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    top: 60px !important;
    display: none !important;
    position: fixed !important;
    background-color: #f1f1f1 !important;
    width: 200px !important;
    box-shadow: 10px rgba(0, 0, 0, 0.2) !important;
    z-index: 100 !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black !important;
    padding: 10px 15px !important;
    text-decoration: none !important;
    font-size: medium !important;
    font-weight: 100 !important;
    display: block !important;
    width: 200px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #ddd !important;
    width: 200px !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block !important;
}

.small, .medium {
    display: none !important;
}

.sidepanel {
    width: 0 !important;
    position: fixed !important;
    z-index: 100 !important;
    height: 100% !important;
    top: 0 !important;
    right: 200px !important;
    background-color: #111 !important;
    overflow-x: hidden !important;
    transition: 0.5s !important;
    padding-top: 60px !important;
}

.sidepanel a {
    padding: 8px 8px 8px 32px !important;
    text-decoration: none !important;
    font-size: 25px !important;
    color: #818181 !important;
    display: block !important;
    transition: 0.3s !important;
}

.sidepanel a:hover {
    color: #f1f1f1 !important;
}

.sidepanel .closebtn {
    position: absolute !important;
    top: 0 !important;
    right: 25px !important;
    font-size: 36px !important;
}

.openbtn {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
    font-size: 20px !important;
    cursor: pointer !important;
    background: white !important;
    color: gold;
    padding: 16.5px 15px;
    border: none !important;
    margin: 0px !important;
}

.subMenu {
    margin-left: 15px !important;
}

.subMenu a {
    font-size: 20px !important;
}

.noHover:hover {
    color: #818181 !important;
}

h1 {
    font-family: "Cambria" !important;
    padding-top: 25px !important;
    font-size: xx-large !important;
}

h2 {
    font-family: "Cambria" !important;
    margin-left: 50px !important;
    padding-top: 25px !important;
}

p {
    font-size: 18px !important;
    font-family: "Calibra", sans-serif !important;
    text-align: justify !important;
}

a {
    color: #000000 !important;
    font-size: large !important;
    font-weight: 550 !important;
    text-align: center !important;
    margin-right: 20px !important;
}

a:hover {
    text-decoration: none !important;
}

.menuBar, .small, .medium {
    list-style-type: none !important;
    overflow: hidden !important;
    padding: 0 0px 0 0 !important;
    background-color: #E9E1E1 !important;
    height: 60px !important;
    width: 100% !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 1 !important;
}

.menu {
    float: right !important;
    height: 50px !important;
    margin-right: 15px !important;
    margin-left: 5px !important;
    padding: 20px 20px 40px 20px !important;
    font-family: "Verdana", sans-serif !important;
    text-align: center;
    font-size: large;

}

.menu a {
    color: black !important;
    text-decoration: none !important;
    font-weight: 550 !important;
}

.menu a:hover {
    background-color: #C0C0C0 !important;
    text-decoration: none !important;
}

#logo {
    width: 80px !important;
    height: 60px !important;
}

.mortgage-field-input-container {
    margin-top: 0px !important;
    margin-left: 2%;
    width: 60%;
    float: left;
    height: 500px;
}

.field {
    padding: 1% 1% !important;
    margin-left: 50px !important;
}

.float-button {
    padding: 4% 0% 0% 1% !important;
    margin-left: 45px !important;
}

.pie-chart-container {
    width: 30%;
    float: left;
    margin-top: -50px !important;
    margin-bottom: 0 !important;
    text-align: left !important;
    height: 280px !important;
    overflow-y: hidden;
}

.dcube-container-result-top {
    width: 30%;
    float: left;
    margin-top: 40px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    font-size: medium !important;
    height: 100px !important;
}

.graph-container {
    padding: 0px 50px 0px 50px !important;
    height: 1100px;
    background-color: #E9E1E1 !important;
}

td p {
    font-size: small !important;
}

#converter {
    margin-top: 80px;
    padding: 0 15% 0 15%;
    height: 300px;
}

#converter h1 {
    margin-left: -10% !important;
}

#converter p {
    margin-bottom: 10px !important;
}

#converter span {
    border: 2px solid #DEDEDE;
    padding: 8px 30%;
}

.left {
    float: left;
    width: 40%;
    height: 100px;
    /* Should be removed. Only for demonstration */
}

.right {
    float: left;
    width: 40%;
    height: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.calculator-main-wrap {
    background-color: #E9E1E1;
    margin-top: 60px;
}

.btn,
.gold-btn {
    background: #ff6d00 !important;
    border-bottom: 7px solid goldenrod !important;
}

footer {
    background-color: #000000 !important;
    color: white !important;
    height: 150px !important;
}

.social {
    text-align: center !important;
    padding-bottom: 25px !important;
}

.social>a {
    font-size: 24px !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    display: inline-block !important;
    text-align: center !important;
    border-radius: 50% !important;
    border: 1.5px solid white !important;
    margin: 40px 12px 0 12px !important;
    color: white !important;
}

.mail {
    background-color: #FF9800 !important;
}

.ws {
    background-color: #25D366 !important;
}

.fb {
    background-color: #3B5998 !important;
}

.ig {
    background: #f09433 !important;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1) !important;
}

.yt {
    background-color: #FF0000 !important;
}

.copyright {
    text-align: center !important;
    font-size: 13px !important;
    color: #aaa !important;
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: yellow;
    }
}

@media only screen and (max-width: 768px) {

    body {
        background-color: lightblue;
    }

    .large {
        display: none;
    }

    .medium {
        display: block !important;
    }

    footer {
        margin-left: -25px;
    }
}

@media only screen and (max-width: 446px) {
    .small {
        display: inline;
    }

    body {
        background-color: red;
        width: 100%;
        overflow-x: hidden;
    }

    h1 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .com {
        display: none;
    }

    .phone {
        display: inline;
    }

    .title {
        height: 100px;
    }
    
    .title::before {
        background-image: none;
    }
    
    .title h1 {
        font-size: 20px;
        color: black;
        margin-left: -30px;
    }

    .row {
        width: 90%;
    }

    .left, .right {
        width: 100%;
    }

    .word {
        margin-right: 0px !important;
        margin-top: 100%;
    }

    .right img {
        width: 70%;
        position: absolute;
        left: 15%;
        top: 200px
    }

    .b {
        position: absolute;
        margin-top: -20%;
        width: 80%;
    }

    footer {
        height: 100px;
        margin-left: -9%;
    }

    .social>a {
        font-size: 14px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1.5px solid white;
        margin: 20px 2px 0 2px;
    }

    .copyright {
        font-size: 10px;
        margin-top: 0px;
    }
}